# https://docs.github.com/code-security/dependabot/working-with-dependabot/dependabot-options-reference
version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "19:00"
      timezone: "Asia/Tokyo"
    groups:
      all:
        patterns:
          - "*"
